<ul>
<% @countries.each do |country| %>
  <li>
    <%= country.name %>
    <%= country.hdi.hdi_value_2012 if country.hdi %>
  </li>
<% end %>
</ul>
<p><%= link_to "Try another country", "/countries/new", class: 'button' %><p>