<div>
  <h3>Where are you considering traveling?</h3>
</div>

<%= form_for(@country) do |f| %>
  <p>
    <%= f.label "Country Name" %>
    <%= f.text_field :name %>
  </p>
  
  <%= f.submit 'Search Country', class: 'button' %>
<% end %>