<div>
  <h2>Welcome to TravelWhere!</h2>
</div>

<div>
  <p>
     You're thinking of traveling where? Before you finalize those plans, search your destination to review data about that country's development levels.
  </p>
</div>