<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="/countries">Travel Where?</a>
      <%= link_to "Check a country!", "/countries/new" %>
    </nav>
  </div>
</div>